
<footer>
    <div id="cont-4">
		<div id="block-4">
			<h3>Почему мы?</h3>
			<div id="reason-1">
				<p><b>1.</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe obcaecati temporibus incidunt velit iusto?</p>
			</div>
			<div id="reason-2">
				<p><b>2.</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe obcaecati temporibus incidunt velit iusto?</p>
			</div>
			<div id="reason-3">
				<p><b>3.</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe obcaecati temporibus incidunt velit iusto?</p>
			</div>
		</div>
	</div>
</footer>