<header>
    <div class='container'>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item me-2 my-1" role="presentation">
                <a class="btn btn-primary" href="{% url "index" %}" role="button">Главная</a>
            </li>
            <li class="nav-item me-2 my-1" role="presentation">
                <a class="btn btn-primary" href="{% url "news" %}" role="button">Новости</a>
            </li>
            <li class="nav-item me-2 my-1" role="presentation">
                <a class="btn btn-primary" href="{% url "guide" %}" role="button">Гайды</a>
            </li>
        </ul>                     
</header>